{%- assign resource_list = site.data.tool_and_resource_list %}

<div class="d-flex flex-column">
  <div class="mb-2">
      {% assign collapse_id = "collapse-" | append: include.type %}
    <button
      class="btn text-light"
      style="background: #f49f1d"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#{{ collapse_id }}"
      aria-expanded="false"
      aria-controls="{{ collapse_id }}"
    >
        {%- if include.type == "registry" %}
            Can’t find the software you need? Click here to see other options for
            finding software.
        {%- else %}
            Click to find out how to request installation of software on ToolFinder
            listed infrastructures.
        {%- endif %}
      <i class="fa-solid fa-circle-chevron-down ms-1"></i>
    </button>
    <div class="collapse" id="{{ collapse_id }}">
        <div class="simple-tiles">
            <div class="simple-tiles-container">
                <div class="simple-tiles-list gy-2 gx-4 my-4">
                {%- for item in resource_list %}
                    {%- if item.type == include.type %}
                        <div class="simple-tile-item">
                            <a href="{{ item.url | relative_url }}" class="simple-tile-link">
                                    <p class="simple-tile-title" style="font-size: 1rem; text-align: left">{{ item.name }} </p>
                                    <p class="simple-tile-desc" style="font-size: 0.8rem; text-align: left">{{ item.description }}</p>
                            </a>
                        </div>
                    {%- endif %}
                {%- endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



<style>

  .simple-tile-link {
          text-decoration: none;
          color: inherit;
  }

  .simple-tile-item {
           border-radius: 12px;
           padding: 5px;
           padding-left: 20px;
           padding-right: 20px;
           transition: all 0.3s ease;
           background: #f8f9fa;
           width: 100%;
  }

  .simple-tile-item:hover {
           transform: translateY(-4px);
           box-shadow: 0 8px 25px rgba(0,0,0,0.1);
           border-color: #012152;
  }

  .simple-tile-title {
           color: #205a86;
           font-weight: 700;
           margin-top: 0px;
           margin-bottom: 0px;
  }

  .simple-tile-desc {
           color: #205a86;
           font-weight: 400;
           margin-top: 0px;
           margin-bottom: 0px;
  }

</style>

