<link
  href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/datatables.min.css"
  rel="stylesheet"
/>

<style>
  div.dt-buttons {
    margin-right: 24px;
  }
  .biotools-button {
    width: 84px;
    background-color: #ffa500;
  }
  .tooltable th,
  .tooltable td {
    vertical-align: middle;
  }
  .clear-all-button {
    display: none;
    cursor: pointer;
  }
  .clear-all-button:hover {
    opacity: 0.6;
  }
</style>



{%- if include.tag %} {%- assign tools = site.data.data | add_related_pages |
where:"related_pages", include.tag | sort_natural: "name" %} {%- else %} {%-
assign tools = site.data.data | add_related_pages | sort_natural: "name" %} {%-
endif %} {%- assign country_pages = site.pages | where_exp: "item",
"item.search_exclude != true" | where_exp:"item","item.national_resources !=
nil" %} {%- unless tools.size == 0 or tools == nil %} {%- if include.tag %}

<h2>Relevant tools and resources</h2>
{%- endif %}

<div class="my-5 table-responsive">
  <table
    class="tooltable table display table-bordered table-hover table-striped w-100"
  >
    <thead>
      <tr>
        <th colspan="14">
          <div class="d-flex align-items-center">
            <div class="py-2">Filter by Topic(s):</div>
            <div class="filter-message fw-medium text-black-50 ms-3">
              Please click on a topic to filter results by topics
            </div>
            <div class="clear-all-button text-danger fw-medium ms-3 me-2">
              Clear All Filters
            </div>
            <div id="filterContainer"></div>
          </div>
        </th>
      </tr>
      <tr>
        <th class="dt-center text-white bg-primary" colspan="9">
          Tool metadata
        </th>
        <th class="dt-center text-white bg-secondary" colspan="5">
          Availability on Australian compute infrastructures
        </th>
      </tr>
      <tr>
        <th class="text-nowrap">
          Tool Name {%- if include.tag -%}
          <a
            data-bs-toggle="tooltip"
            data-bs-original-title="This is a curated list which means that not all tools or resources that exist for this topic are listed here. This is mainly because we do not intend to be a registry. In most cases you will only find back the tools or resources that are mentioned in this page."
          >
            <i class="fa-solid fa-info-circle"></i> </a
          >{%- endif %}
        </th>
        <th>Description</th>
        <th>Registry link</th>
        <th>Tool identifier (e.g. module name)</th>
        <th>Topic(s)</th>
        <th>Publications</th>
        <th>Containers available? (BioContainers)</th>
        <th>License</th>
        <th>Resources / documentation</th>
        <th>Galaxy Australia</th>
        <th>NCI (Gadi)</th>
        <th>NCI (if89)</th>
        <th>Pawsey (Setonix)</th>
        <th>QRIScloud / UQ-RCC (Bunya)</th>
      </tr>
    </thead>
    <tbody>
      {%- for tool in tools %} {% assign rowId = "row" | append: forloop.index
      %}
      <tr>
        {%- assign instances_tool = 0 %} {%- assign total_county_tools = 0 %}
        {%- assign query = "related_pages." | append: page.type %} {%- for
        country_page in country_pages %} {%- assign instance_matches =
        country_page.national_resources | where: "instance_of", tool.id |
        where_exp:"resource","resource.related_pages != nil" | where: query,
        include.tag %} {%- assign tool_matches = country_page.national_resources
        | where_exp:"resource","resource.related_pages != nil" | where: query,
        include.tag %} {%- unless tool_matches.size == 0 %} {%- assign
        total_county_tools = total_county_tools | plus: tool_matches.size %} {%-
        endunless %} {%- unless instance_matches.size == 0 %} {%- assign
        instances_tool = instances_tool | plus: instance_matches.size %} {%-
        endunless %} {%- endfor %}
        <td>
          <div>
            {% if tool.homepage %}
            <a href="{{tool.homepage}}">{{tool.name}}</a>
            {%- else %} {{tool.name}} {%- endif %}
          </div>
        </td>
        <td>{% if tool.description %} {{tool.description}} {%- endif %}</td>
        <td class="dt-center">
          {% if tool.registry-link != blank %}
          <a
            href="https://bio.tools/{{tool.registry-link}}"
            class="badge text-center px-4 biotools-button"
          >
            <img src="https://bio.tools/img/elixir_biotools_transparent.png" />
          </a>
          {%- endif %}
        </td>
        <td>{% if tool.id %} {{tool.id}} {%- endif %}</td>
        <td class="dt-center">
          {% if tool.topics %} {%- for topic in tool.topics %}
          <button
            class="btn btn-light badge topic-badge text-bg-light mb-2 text-wrap text-center"
          >
            {{topic}}
          </button>
          {%- endfor %} {%- endif %}
        </td>
        <td>
          {% if tool.publications %} {%- for publication in tool.publications %}
          <div class="mb-2">
            <a href="{{publication.url}}"
              >{{publication.title | truncate: 60}}</a
            >
          </div>
          {%- endfor %} {%- endif %}
        </td>
        <td>
          {% if tool.biocontainers != blank %}
          <a href="https://biocontainers.pro/tools/{{tool.biocontainers}}"
            >{{tool.name}}</a
          >
          {%- endif %}
        </td>
        <td>{% if tool.license != blank %} {{tool.license}} {%- endif %}</td>
        <td>
          {% if tool.resource-documentation == tool.resource-documentation %}
          <a href="{{tool.resource-documentation}}"
            >{{tool.resource-documentation}}</a
          >
          {%- endif %}
        </td>
        <td>
          {%- if tool.galaxy.size > 1 %}
          <p class="d-inline-flex gap-1">
            <a
              data-bs-toggle="collapse"
              href="#{{ rowId }}"
              aria-expanded="false"
              aria-controls="{{ rowId }}"
            >
              {{tool.galaxy.size}} tools &thinsp;<i
                class="fa-solid fa-square-plus"
              ></i>
            </a>
          </p>
          <div class="collapse" id="{{ rowId }}">
            {%- for galaxy-tool in tool.galaxy %}
            <div class="mt-2">
              <a href="{{galaxy-tool.url}}">{{galaxy-tool.title}}</a>
            </div>
            {%- endfor %}
          </div>
          {%- else %}
          <a href="{{tool.galaxy[0].url}}">{{tool.galaxy[0].title}}</a>
          {%- endif %}
        </td>
        <td>
          {% if tool.nci-gadi != blank %} {%- for gadi in tool.nci-gadi %}
          <span class="badge text-bg-light mb-2">{{gadi}}</span>
          {%- endfor %} {%- endif %}
        </td>
        <td>
          {% if tool.nci-if89 %}
          <span class="badge text-bg-light mb-2">{{tool.nci-if89}}</span>
          {%- endif %}
        </td>
        <td>
          {% if tool.pawsey %}
          <span class="badge text-bg-light mb-2">{{tool.pawsey}}</span>
          {%- endif %}
        </td>
        <td>
          {% if tool.bunya %}
          <span class="badge text-bg-light mb-2">{{tool.bunya}}</span>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{%- unless total_county_tools == 0 or include.tag == nil %}
<a
  class="btn btn-primary"
  id="national-resources-button"
  data-bs-toggle="collapse"
  data-bs-target=".multi-collapse"
  role="button"
  aria-expanded="false"
  aria-controls="{{hide_ids}}"
>
  View national resources
  <span class="badge bg-white text-primary ms-2">{{total_county_tools}}</span>
</a>
{%- endunless %}
<div id="skip-tool-table"></div>
{%- endunless %}

<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/datatables.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $("#DataTables_Table_0").DataTable();
    table.columns([1, 3, 7, 8]).visible(false);
    new $.fn.dataTable.Buttons(table, {
      buttons: [
        {
          extend: "copy",
          className: "btn btn-light",
        },
        {
          extend: "csv",
          className: "btn btn-light",
        },
        {
          extend: "colvis",
          className: "btn btn-light",
        },
      ],
    });

    table.buttons().container().prependTo("#DataTables_Table_0_length");

    let searchTerm = "";
    searchFilter(table, searchTerm);

    // Event listener for Clear All Filters button
    document
      .querySelector(".clear-all-button")
      .addEventListener("click", function () {
        clearAllFilters();
      });

    // Event listener for Topic Badges
    var badges = document.querySelectorAll(".topic-badge");
    badges.forEach(function (badge) {
      badge.addEventListener("click", function () {
        handleBadgeClick(this);
      });
    });

    function handleBadgeClick(badge) {
      var topic = badge.textContent.trim();

      // Check if a filter badge with the same text already exists
      if (!filterBadgeExists(topic)) {
        var filterBadge = document.createElement("span");
        filterBadge.className =
          "btn btn-light px-2 border border-dark text-dark btn-sm rounded-pill fw-bold mx-2 text-wrap filter-badge";
        filterBadge.textContent = topic;

        // Add '×' symbol for removing the filter chip
        var removeButton = document.createElement("span");
        removeButton.innerHTML = " &#x2715;";
        filterBadge.appendChild(removeButton);

        searchTerm = `${searchTerm.trim()} ${topic}`.trim();
        searchFilter(table, searchTerm);

        // Add click event to remove the filter badge
        filterBadge.addEventListener("click", function () {
          handleBadgeRemoval(this);
        });

        document.getElementById("filterContainer").appendChild(filterBadge);

        document.querySelector(".filter-message").style.display = "none";
        document.querySelector(".clear-all-button").style.display =
          "inline-block";
      }
    }

    function searchFilter(table, searchTerm) {
      table
        .columns(4)
        .search(searchTerm, {
          boundary: true,
        })
        .draw();

      // Add click event to new badges displayed
      var badges = document.querySelectorAll(".topic-badge");
      badges.forEach(function (badge) {
        badge.addEventListener("click", function () {
          handleBadgeClick(this);
        });
      });
    }

    // Function to check if a filter badge with the same text already exists
    function filterBadgeExists(topic) {
      var filterBadges = document.querySelectorAll(".filter-badge");
      for (var i = 0; i < filterBadges.length; i++) {
        if (filterBadges[i].textContent.includes(topic)) {
          return true;
        }
      }
      return false;
    }

    // Function to handle removal of filter badge
    function handleBadgeRemoval(badge) {
      badge.parentNode.removeChild(badge);

      const filterBadgeText = badge.textContent.replace(" \u2715", "");
      searchTerm = searchTerm
        .replace(filterBadgeText, "")
        .replace(/\s+/g, " ")
        .trim();
      searchFilter(table, searchTerm);

      if (document.querySelectorAll(".filter-badge").length === 0) {
        document.querySelector(".filter-message").style.display =
          "inline-block";
        document.querySelector(".clear-all-button").style.display = "none";
      }
    }

    function clearAllFilters() {
      var filterBadges = document.querySelectorAll(".filter-badge");
      filterBadges.forEach(function (badge) {
        badge.parentNode.removeChild(badge);
      });

      searchTerm = "";
      searchFilter(table, searchTerm);

      document.querySelector(".filter-message").style.display = "inline-block";
      document.querySelector(".clear-all-button").style.display = "none";
    }
  });
</script>
